@media only screen and (max-width: 375px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    nav{
        max-width: 100%;
        min-height: 100%;
        background: white;
        color: black;
        display: flex;
        
    }  
    .logo{
        padding: 10px;
        border: 1px solid black;
        margin: 2px;
    }
    .nav-items{
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
    }
    .navBtn{
        height: 25px;
        padding: 3px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 15px;
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    nav{
        max-width: 100%;
        min-height: 100%;
        background: white;
        color: black;
        display: flex;
        justify-content: space-between;
    }  
    .logo{
        padding: 10px;
        border: 1px solid black;
        margin: 2px;
    }
    .nav-items{
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
    }
    .navBtn{
        height: 25px;
        padding: 3px;
        margin: 2px;
        text-align: center;
        font-size: 12px;
        border: 1px solid black;
    }
}
