@media only screen and (min-width: 768px) and (max-width: 1023px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none !important;
        color: #000 !important;
    }
    nav{
        width: 100%;
        height: 50px;
        background: white;
        color: black;
        display: flex;
        position: fixed;
        z-index: 1;
        justify-content: space-between;
        box-shadow: 0px 4px 7px 0px grey;
    }  
    .logo{
        padding: 10px;
        margin: 2px;
    }
    .nav-items{
        display: flex;
        margin-top: 15px;
        width: 80%;
        justify-content: space-around;
    }
    /* .navBtn{
        height: 25px;
        padding: 3px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 10px;
        text-align: center;
        font-size: 12px;
        border: 1px solid black;

    } */
    .navBtn{
        height: 25px;
        padding: 3px;
        margin: 2px;
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none !important;
        color: #000 !important;
    }
    nav{
        width: 100%;
        height: 50px;
        background: white;
        color: black;
        display: flex;
        position: fixed;
        z-index: 1;
        justify-content: space-between;
        box-shadow: 0px 4px 7px 0px grey;
    }  
    .logo{
        padding: 10px;
        margin: 2px;
    }
    .nav-items{
        display: flex;
        margin-top: 15px;
        width: 80%;
        justify-content: space-around;
    }
    /* .navBtn{
        height: 25px;
        padding: 3px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 10px;
        text-align: center;
        font-size: 12px;
        border: 1px solid black;

    } */
    .navBtn{
        height: 25px;
        padding: 3px;
        margin: 2px;
        text-align: center;
        font-size: 12px;
    }
}

/* @media only screen and (max-width: 375px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    nav{
        width: 100%;
        height: 50px;
        background: white;
        color: black;
        display: flex;
        position: fixed;
        z-index: 1;
        justify-content: space-between;
    }    
    .logo{
        padding: 10px;
        border: 1px solid black;
        margin: 2px;
    }
    .nav-items{
        display: flex;
        margin-top: 15px;
        width: 80%;
        justify-content: space-around;
    }
    .navBtn{
        height: 25px;
        padding: 3px;
        margin: 2px;
        text-align: center;
        font-size: 12px;
        border: 1px solid black;
    }
}

@media only screen and (max-width: 320px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    nav{
        max-width: 100%;
        min-height: 50px;
        background: white;
        color: black;
        display: flex;
        justify-content: space-around;
    }  
    .logo{
        padding: 10px;
        border: 1px solid black;
        margin: 2px;
    }
    .nav-items{
        display: flex;
        margin-top: 15px;
        width: 80%;
        justify-content: space-around;
    }
    .navBtn{
        height: 25px;
        padding: 3px;
        margin: 2px;
        text-align: center;
        font-size: 12px;
        border: 1px solid black;
    }
} */
